:root {
    --item-spacer: 0 0 1em;
    --color-theme: #1565c0;
    --color-on-theme: #fff;
    --color-bg: #fff;
    --color-text: rgba(0, 0, 0, 0.87);
    --family-main: system-ui, sans-serif;
    --font-size: 1rem;
    --line-height: 1.5;
    --font-weight: 400;
    --btn-bg: var(--color-theme, #1565c0);
    --btn-color: var(--color-on-theme, #fff);
    --btn-focus-bg: #1976e0;
    --btn-focus-color: #fff;
    --btn-active-bg: #2e85e8;
    --btn-active-color: #fff;
    color-scheme: var(--color-scheme, light);
}

html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
    border: 0 solid currentcolor;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: var(--color-bg, #fff);
    color: var(--color-text);
    font-family: var(--family-main);
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: var(--font-weight);
    -webkit-text-size-adjust: 100%;
}

main {
    margin: auto;
    padding: 1.25rem;
    text-align: center;
}

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: var(--btn-margin, 0);
    padding: var(--btn-padding, 0.375rem 0.8rem);
    border: 1px solid var(--btn-stroke, transparent);
    border-radius: var(--btn-radius, 4px);
    background-color: var(--btn-bg, transparent);
    color: var(--btn-color, inherit);
    font-size: var(--btn-font-size, inherit);
    line-height: var(--btn-line-height, inherit);
    font-weight: var(--btn-font-weight, 500);
    vertical-align: middle;
    text-decoration: none;
    transition: 0.2s linear;
    transition-property: color, background-color, border-color, box-shadow;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
}

button:hover,
button:focus {
    border-color: var(--btn-focus-stroke, transparent);
    background-color: var(--btn-focus-bg, rgba(0, 0, 0, 0.05));
    color: var(--btn-focus-color, inherit);
    text-decoration: none;
}

@keyframes svgwifibar3 {
    0%,
    70% {
        opacity: var(--opacity);
    }
    80% {
        opacity: 1;
    }
    90%,
    100% {
        opacity: var(--opacity);
    }
}

@keyframes svgwifibar2 {
    0%,
    50% {
        opacity: var(--opacity);
    }
    60% {
        opacity: 1;
    }
    70%,
    100% {
        opacity: var(--opacity);
    }
}

@keyframes svgwifibar1 {
    0%,
    30% {
        opacity: var(--opacity);
    }
    40% {
        opacity: 1;
    }
    50%,
    100% {
        opacity: var(--opacity);
    }
}

@keyframes svgwifidot {
    0%,
    10% {
        opacity: var(--opacity);
    }
    20% {
        opacity: 1;
    }
    30%,
    100% {
        opacity: var(--opacity);
    }
}

svg > * {
    --opacity: 0.5;
    color: var(--color-theme);
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

svg > #wifibar3 {
    animation-name: svgwifibar3;
}

svg > #wifibar2 {
    animation-name: svgwifibar2;
}

svg > #wifibar1 {
    animation-name: svgwifibar1;
}

svg > #wifidot {
    animation-name: svgwifidot;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-scheme: dark;
        --color-bg: #041325;
        --color-text: #fff;
        --color-text-alt: rgba(255, 255, 255, 0.8);
        --color-text-muted: rgba(255, 255, 255, 0.67);
        --link-color: #8cbcf2;
        --link-color-state: #5ea1ed;
    }
}
