<a href="/" class="logo flex-shrink">
    <img
        src="https://raw.githubusercontent.com/fylgja/site/main/src/assets/images/logo-icon-colord.svg"
        width="50"
        height="50"
        alt="{{ meta.siteName }}"
    >
</a>
