<dialog id="offcanvas-menu" class="offcanvas-end py-0 px-2">
    <div class="flex justify-between items-center py-3 px-3">
       {% include "logo.njk" %}
        <button type="button" class="btn -icon close">
            <svg width="24" height="24" fill="currentColor">
                <title>Close menu</title>
                <use href="/images/sprite.svg#close"/>
            </svg>
        </button>
    </div>
    <div class="dialog-inner flex-auto">
        <nav class="menu" aria-label="Offcanvas menu">
            {%- for entry in collections.all | eleventyNavigation %}
                <li>
                    <a
                        href="{{ entry.url | url }}"
                        {% if entry.url == page.url %}class="is-active"{% endif %}
                        {% if entry.url == page.url %}aria-current="page"{% endif %}
                    >{{ entry.title }}</a>
                </li>
            {%- endfor %}
        </nav>
    </div>
</dialog>
