@use "@fylgja/shadow" as *;
@use "@fylgja/sizes" as *;

.page-spacing {
    margin-block-start: clamp(0.375rem, 1rem, 1rem);
    margin-block-end: clamp(0.375rem, 1rem, 1rem);
}

.page-banner {
    --aspect-ratio: 21/9;
    border-radius: $size-8;
}
