@use "@fylgja/aria-only/helper" as *;

.skip-link {
    @include aria-only-focusable;
    z-index: 9;
    position: absolute;
    background-color: var(--color-bg);
    padding: 1em;

    &:focus,
    &:hover {
        --link-color-state: var(--color-text);
    }
}
