---
layout: "page"
title: "My blog"
description: "My blog"
permalink: "/blog/"
eleventyNavigation:
    key: "Blog"
    order: 2
style: {
    inline: "
        #blog-grid { --cols-size: 400px }
        #blog-grid .card-media { background-color: hsl(0 0% 0% / 5%) }
    "
}
---

<div id="blog-grid" class="auto-grid">
{%- for item in collections.posts -%}
    <a href="{{ item.url }}" class="card">
        <div class="card-media aspect-ratio">
            {%- if item.data.featured -%}
                {% image item.data.featured, item.data.title %}
            {%- endif -%}
        </div>
        <div class="card-content">
        <h2 class="h5">{{ item.data.title }}</h2>
        <div>{{ item.data.description }}</div>
        </div>
    </a>
{%- endfor -%}
</div>
