---
layout: "page"
title: "My blog"
description: "My blog"
permalink: "/blog/"
eleventyNavigation:
    key: "Blog"
    order: 2
style: {
    blogIndex: "#blog-grid { --cols-size: 400px }"
}
---

<div id="blog-grid" class="auto-grid">
{%- for item in collections.posts -%}
    <a href="{{ item.url }}" class="card">
        <div class="card-media">
            {% image "https://placeimg.com/640/480/tech", item.data.title %}
        </div>
        <div class="card-content">
        <h2 class="h5">{{ item.data.title }}</h2>
        <div>{{ item.data.description }}</div>
        </div>
    </a>
{%- endfor -%}
</div>
