---
permalink: "feed.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ meta.siteName }}</title>
  <subtitle>{{ meta.siteDescription }}</subtitle>
  <link href="{{ env.url }}/components/"/>
  <link href="{{ env.url }}/feed.xml" rel="self"/>
  <updated>{{ collections.posts | rssLastUpdatedDate }}</updated>
  <id>{{ env.url }}/components/</id>
  <author>
    <name>{{ meta.author }}</name>
  </author>
  {%- for post in collections.components %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(env.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
