---
layout: base
permalink: index.html
eleventyNavigation:
    key: "Home"
style: {
    inline: "
        #page-hero {
            --height: 320px;
            padding-block-start: clamp(3rem, 6vw, 6rem);
            padding-block-end: clamp(3rem, 6vw, 6rem);
            font-size: clamp(1rem, 1.5vw, 1.25rem);
        }

        #page-hero .title {
            --h-font-size: clamp(2.5rem, 5vw, 5rem);
            --h-font-weight: 600;
        }

        #page-hero .preview {
            border-radius: 2rem;
            overflow: hidden;
        }
    "
}
---

<section id="page-hero" class="mb-12" style="--bg: var(--color-theme-fade)">
    <div class="container flex flex-col md-flex-row justify-center md-justify-between items-center">
        <div>
            <h1 class="title">{{ meta.siteName }}</h1>
            <div class="slogan">{{ meta.siteDescription }}</div>
            {% include "theme-switcher.njk"%}
        </div>
        <div class="preview mt-8 md-mt-0 md-ms-4 xl-ms-8">
            {% image "https://picsum.photos/id/7/840/840", "Beatiful picture", { lazy: false } %}
        </div>
    </div>
</section>

<div class="container my-12">
{% renderTemplate "md" %}
11ty starter template build using Fylgja CSS.

This 11ty starter is based on our very own site [fylgja.dev](https://fylgja.dev/),
but slimmed down so it is just bare bones version,
with just enough things without adding to much.

This 11ty started is build with the newest version of 11ty,
and comes packing with;

- Fylgja CSS
- Eleventy Sass Compiler
- PostCSS
- Rollup
- Html Dialog with outside click close support
- Eleventy Img & Navigation
- Prebuild head with;
  - OG & Twitter tags
  - Support for loading page specific CSS and Javascript
  - and more..
- Offline page with service worker

_and more..._
{% endrenderTemplate %}
</div>
