---
layout: base
permalink: index.html
eleventyNavigation:
    key: "Home"
style: {
    home: "
    #page-hero {
        --height: 400px;
    }
    "
}
---

<section id="page-hero" class="section -theme flex flex-col justify-center mb-12">
    <div class="container">
        <h1 class="title">{{ meta.siteName }}</h1>
        <div class="slogan">{{ meta.siteDescription }}</div>
    </div>
</section>

<div class="container my-12">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quod ullam sit ea cumque soluta autem minus accusantium! Consequatur aspernatur rem natus quod nesciunt tempora! Nisi, quam veniam! Minima, earum.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quod ullam sit ea cumque soluta autem minus accusantium! Consequatur aspernatur rem natus quod nesciunt tempora! Nisi, quam veniam! Minima, earum.</p>
</div>
