@use "sass:color";
@use "@fylgja/theme" as *;

@mixin dark-mode {
    --color-scheme: dark;
    --color-bg: #{color.change($color-theme, $lightness: 8%)};
    --color-text: #fff;
    --color-text-alt: #{color.change(#fff, $alpha: 0.8)};
    --color-text-muted: #{color.change(#fff, $alpha: 0.67)};
    --link-color: #{color.change($color-theme, $lightness: 75%)};
    --link-color-state: #{color.change($color-theme, $lightness: 65%)};
    --card-bg: #{color.change($color-theme, $lightness: 16%)};
    --card-color: #{$color-on-theme};
    --dialog-bg: #{color.change($color-theme, $lightness: 16%)};
    --btn-focus-bg: #{color.change(#fff, $alpha: 0.1)};
    --btn-active-bg: #{color.change(#fff, $alpha: 0.2)};
    --divide-color: #{color.change(#fff, $alpha: 0.2)};
    --menu-item-focus-bg: #{color.change(#fff, $alpha: 0.1)};
    --footer-bg: #{color.change($color-theme, $lightness: 16%)};
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        @include dark-mode;
    }
}

:root[data-theme="dark"] {
    @include dark-mode;
}
