@use "./theme";
@use "./fonts";

@use "./skip-link";
@use "@fylgja/base" with (
    $family-main: (Rubik, Roboto, system-ui, sans-serif),
    $font-weight: 350,
    $h1-font-weight: 500,
    $h2-font-weight: 500,
    $h3-font-weight: 500,
);

@use "@fylgja/list";

@use "@fylgja/button";
@use "@fylgja/avatar";
@use "@fylgja/card";

@use "@fylgja/container";
@use "@fylgja/auto-grid";
@use "@fylgja/section" with ($enable-section-theme: false);
@use "@fylgja/scroll-slider";

@use "@fylgja/breadcrumbs";
@use "@fylgja/menu";

@use "./logo";
@use "./offcanvas";
@use "./page-header";
@use "./page-footer";

@use "@fylgja/aspect-ratio";
@use "@fylgja/scrollbar";
@use "@fylgja/hashlink" with (
    $enable-hashlink-scroll-behavior-focus-only: false,
    $hashlink-scroll-offset: 5rem
);

@use "color-scheme";

@use "@fylgja/elevation";
@use "@fylgja/utilpack";
@use "@fylgja/table";
@use "@fylgja/details";
